

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #e8e8e8;
    .container {
        width: 600px;
        margin: 55px auto;
        .container_item {
            padding: 20px;
            margin-bottom: 25px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            background-color: #fff;
            transition: all 0.3s ease;
            position: relative;

            h2 {
                font-size: 25px;
                color: #8a2be2;
                cursor: pointer;
                margin-bottom: 10px;
            }
            .btn {
                position: absolute;
                top: 15px;
                right: 25px;
                button {
                    width: 35px;
                    height: 35px;
                    border: 2px solid #8bc34a; 
                    background-color: #fff;
                    color: #8bc34a;
                    font-size: 20px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    text-align: center;
                
                }
                
            }
            .item_content {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.4s ease, padding 0.4s ease;    
                p {
                    font-size: 16px;
                    line-height: 1.6;
                }
            }   
            &.active {
                .item_content {
                    max-height: 600px;
                    padding-top: 10px;
                }
        }
        
        
    }
}


}